.home-container {
    display: flex;
    margin: 12px;
    height: 100vh;
    width: 98vw;
}

.filter-container {
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.price-container {
    width: 20vw;
}

.category {
    display: flex;
    flex-direction: column;
}

.products-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 83vh;
    flex-wrap: wrap;
}

.products-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-img {
    height: 200px;
    width: 240px;
    margin: 0;
    padding: 0;
}

.product-price {
    margin: 0;
    padding: 0;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.search {
    height: 43px;
    width: 30vw;
    border-radius: 4px;
}

.sort-dropdown {
    height: 40px;
    width: 160px;
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.pagination-button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
}


@media (max-width: 767px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .filter-container {
        width: 100%;
        height: auto;
    }

    .price-container {
        width: 100%;
    }

    .products-container {
        width: 100%;
        height: auto;
    }

    .top-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .search {
        width: 90%;
        height: 40px;
        margin-top: 4px;
    }

    .sort-dropdown {
        margin: 5px 0;
    }

    .pagination-button {
        padding: 5px 7px;
        font-size: 0.8em;
    }

    .product-img {
        height: 150px;
        width: 180px;
    }

    h4 {
        font-size: 1em;
    }

    .product-title {
        font-size: 0.9em;
    }

    .product-price {
        font-size: 0.9em;
    }

    .filter-container h4, .price-container label, .category-label {
        font-size: 1em;
    }
}
